<ng-template
*ngIf="{
repo: repoSub$|async
}"
></ng-template>
  <div *ngIf="repo; else loadingSpinner">
    
    <div class ="header">
      <div>
        owner and repo {{ repo.starNum}}
      </div>
      <button (click)="runTest()"> RUN TEST</button>  
    </div>
    <div  class="repo">
      
      <div class="file-list">
        
        <mat-table [dataSource]="markTestedFiles" data-test-id="repo-file-name">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> File </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>  
          </ng-container>
          
          <mat-header-row
          *matHeaderRowDef="displayedColumns"
          ></mat-header-row>
          <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="changeFile(row)"
          ></mat-row>
        </mat-table>
      </div>
      
      <div class="file-content">
        <div class="file-content-header">{{currentFile.name}}</div>
        <ol>
          <li *ngFor="let markLine of currentFile.markedContent" [class.highlighted]="markLine.tested === true">
            {{markLine.line}}
          </li>
        </ol>
      </div>
      
    </div>
    
  </div>
  
  <ng-template #loadingSpinner>
    <mat-spinner class="spinner"></mat-spinner>
  </ng-template>